body{
    font-family: Arial, Helvetica, sans-serif;
}
header{
    text-align: center;
}
h1{
    color:#0040df
}
nav{
    background-color: black;
    color: aliceblue;
    text-align: center;
}
ul li{
    list-style-type: none;
    color:aliceblue;
    display: inline-block;
    padding: 10px 20px;
}
.card1 img{
    max-width:130%;
    border-radius: 10px;
    display:block;
    margin: 0 auto;
}
.card1
{
    
    border:10px solid gainsboro;
    padding: 10px;
}
.lii{
    padding: 10px;
}