body{
    font-family: Arial, Helvetica, sans-serif;
}
header{
    text-align: center;
}
h1{
    color:#0040df
}
h2{
    color: white;
}
nav{
    background-color: black;
    color: aliceblue;
    text-align: center;
}
ul li{
    list-style-type: none;
    color:aliceblue;
    display: inline-block;
    padding: 10px 20px;
}
ul li a
{
    text-decoration: none;
    color: white;
}
.card1 img{
    max-width:130%;
    border-radius: 10px;
    display:block;
    margin: 0 auto;
}
.card1
{
    
    border:10px solid gainsboro;
    padding: 10px;
}
.lii{
    padding: 10px;
}
.nav-link{
    padding: 10px 20px;
    text-decoration: none;
    transition: background-color 0.3s, color 0.3s;
}
.nav-link:hover{
    background-color: #0056b3;
    color: #000;
    border-radius: 5px;
}
.card1
{
    padding: 20px;
    background-color: #ffffff;
}
.curriculum-cards {
    display: flex;
    justify-content: space-between;
    gap: 10px;
    flex-wrap: wrap;
}
.curriculum-card {
    background-color: #f4f4f4;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 10px;
    width: 170px;
    height: 170px;
    flex-direction: column;
    text-align: center;
}
.card-title {
    color: #0033cc;
    font-size: 16px;
    font-weight: bold;
    padding-bottom: 10px;
}
.card-description {
    font-size: 14px;
    color: #333;
}
.btn {
    background-color: #007bff;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
    font-size: 16px;
    display: inline-block;
}
.btn:hover {
    background-color: #0056b3;
}
.header
{
    background-color: #1a1a1a;
    background-image: url('abcd.png');
    background-size: cover;
    background-position: center;
    color: white;
    text-align: center;
    padding: 50px 20px;
}